@charset "EUC-KR";
.board-div{
	width: 80%;
	margin: 30px auto;
	
}
.board-tb{
	width: 90%;
	min-width: 650px;
	margin: auto;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}
.board-tb tr:first-child{
	background-color: #f7f7f7; 
	height: 50px; 
	border-bottom: 1px solid lightgrey;
}
.board-tb td{
	height: 50px;
}
.page-a{
	display: inline-block;
	border: 1px solid lightgrey;
	padding: 4px 12px;
	margin: 1px;
	border-radius: 5px;
}
#page{
	 width: 100%; 
	 margin: auto; 
	 text-align: center; 
	 margin-top: 50px;
	 display: flex;
	 justify-content: center;
}
#listopt-div{
	 width: 90%;
	 min-width: 755px; 
	 margin: auto; 
	 text-align: center; 
	 margin-top: 50px;
	 display: flex;
	 justify-content: space-between;
}
#search-div {
	width: 550px;
	display: flex;
	justify-content: space-between;
}
#searchType{
	height: 40px;
	width: 58px;
	text-align: left;
	padding: 0px;
	background: #fff url('/resources/img/arrow-down-light.png') no-repeat;
    background-position: right center;
}
#orderType{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	text-align: left;
	padding: 0px;
	background: #fff url('/resources/img/arrow-down-light.png') no-repeat;
    background-position: right center;
}
#search-div input{
	width: 330px;
	height: 45px;
	border-radius: 0px;
}
#search-btn{
	width: 80px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#category-tb {
	width: 65%;
	height: 40px;
	margin: auto;
}
#category-tb tr:first-child td{
	padding: 0px;
}
#category-tb tr:first-child td{
	border: 1px solid lightgrey;
}
#category-tb button{
	width: 100%;
	height: 100%;
	color: #777777;
}
#write-btn{
	border-radius: 5px;
}
