@font-face {
  font-family: 'Dovemayo';
  src: url('/resources/fonts/Dovemayo_gothic.ttf') format('truetype');
  font-weight: normal;
}
*:not(i),
h5,
h6,
li {
  font-family: 'Dovemayo', sans-serif !important;
  font-weight: normal;
}
.stockDetail {
  margin-bottom: 0;
}
.stockDetail span {
  font-weight: 600;
  margin-bottom: 0;
}
.stockDetail p {
  margin-bottom: 0;
}
.stockDetail .btn-green {
  font-weight: 800;
  line-height: normal;
  height: 40px;
  border-radius: 10px;
  background: #a0d833;
}
.stockDetail .btn-green:hover {
  background: #93c530;
  box-shadow: 1px 1px 1px 1px gray;
}
.stockDetail .btnTab {
  width: 120px;
  margin-right: 20px;
}
.stockDetail .btnTab > a {
  text-decoration: none;
  font-weight: 800;
}
.stockDetail .btnTab > a:hover {
  color: #000;
}
.stockDetail .areaTab {
  width: 100%;
}
.stockDetail .h2ComapnyName {
  font-size: 23px;
  font-weight: 600;
}
.stockDetail .primaryColorRed {
  color: #ff3149;
}
.stockDetail .primaryColorBlue {
  color: #3474d4;
}
.stockDetail .primaryColorNone {
  color: #212121;
}
.stockDetail .divWebSocket {
  flex: none;
  position: static;
  height: auto;
  width: auto;
}
.stockDetail .divWebSocket > div {
  height: 100%;
  width: 100%;
}
.stockDetail .divCompanyName {
  padding: 15px;
}
.stockDetail .divCompanyName > div {
  justify-content: space-between;
}
.stockDetail .divComapnyStockInfo {
  background-color: #fafff1;
  box-sizing: border-box;
  padding: 15px;
}
.stockDetail .divComapnyStockInfo > div:nth-child(1) {
  margin-bottom: 15px;
}
.stockDetail .divBtnTab {
  align-items: flex-start;
}
.stockDetail .colCompanyStockInfo {
  height: 30px;
}
.stockDetail table {
  font-size: 12px;
}
.stockDetail tr {
  line-height: 23px;
}
.stockDetail table > caption {
  caption-side: top;
}
.stockDetail .divVolumeRank {
  height: 440px;
}
.stockDetail .tableVolumeRank {
  margin-bottom: 0;
}
.stockDetail .tableVolumeRank > caption > h6 {
  font-weight: 600;
}
.stockDetail .ec-fullscreen-switch2 > *{
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 10px 0;
}
.footer-bottom {
  margin-top: auto;
}
